<div class="plan">
    <div class="one">
        <p class="text">プランテキスト</p>
    </div>
    <div class="two">
        <div class="sub">
            <div class="must">
                <p class="en">¥</p>
            </div>
                <p class="sen">5,000</p>
        </div>
        <p class="month">月額</p>
    </div>
    <div class="">
        <div class="three">
            <p class="zero">入会金０円</p>
        </div>
        <div class="four">
            <p class="hi">平日：9時〜17時</p>
        </div>
        <div class="five">
            <p class="sat">土日祝：利用ナシ</p>
        </div>
        <div class="six">
            <p class="time">コアタイムでの利用に最適な</br>プラン</p>
        </div>
    </div>
    <div class="part">
        <div class="sin">
            <p class="bin">プランテキスト</p>
        </div>
        <div class="cos">
            <div class="tan">
                <div class="ul">
                    <p class="late">¥</p>
                </div>
                    <p class="bit">5,000</p>
            </div>
            <p class="eth">月額</p>
        </div>
        <div class="today">
            <p class="earth">入会金０円</p>
        </div>
        <div class="zely">
            <p class="corn">平日：9時〜17時</p>
        </div>
        <div class="side">
            <p class="front">土日祝：利用ナシ</p>
        </div>
        <div class="back">
            <p class="long">
                コアタイムでの利用に最適な</br>プラン</p>
        </div>
    </div> 
</div>