<div class="plan_wrap">
  <div class="plan">
    <div class="plan_odd">
      <p class="plan_ray">プランテキスト</p>
    </div>
    <div class="plan_even_old">
      <p class="plan_even"><span>¥</span>5,000</p>
      <p class="month">月額</p>
    </div>
    <div class="plan_items">
      <div class="plan_item">
        <p class="plan_item_text">入会金０円</p>
      </div>
      <div class="plan_item">
        <p class="plan_item_text">平日：9時〜17時</p>
      </div>
      <div class="plan_item">
        <p class="plan_item_text">土日祝：利用ナシ</p>
      </div>
      <div class="plan_item">
        <p class="plan_item_text">コアタイムでの利用に最適なプラン</p>
      </div>
    </div>
  </div>
  <div class="plan">
    <div class="plan_odd">
      <p class="plan_ray">プランテキスト</p>
    </div>
    <div class="plan_even_old">
      <p class="plan_even"><span>¥</span>5,000</p>
      <p class="month">月額</p>
    </div>
    <div class="plan_items">
      <div class="plan_item">
        <p class="plan_item_text">入会金０円</p>
      </div>
      <div class="plan_item">
        <p class="plan_item_text">平日：9時〜17時</p>
      </div>
      <div class="plan_item">
        <p class="plan_item_text">土日祝：利用ナシ</p>
      </div>
      <div class="plan_item">
        <p class="plan_item_text">コアタイムでの利用に最適なプラン</p>
      </div>
    </div>
  </div>
</div>
