@use "../../variables" as *;

.plan {
  &:nth-of-type(2n) {
    outline: 4px solid $orange_bistre;
    outline-offset: -4px;
    .plan_odd {
      background-color: $orange_bistre;
    }
  }
  .plan_odd {
    background-color: $orange_zorba;
    height: 69px;
    .plan_ray {
      text-align: center;
      align-items: center;
      font-weight: 700;
      font-size: $fontsize-l;
      padding: 20px 40px;
      line-height: 29px;
      color: $white;
    }
  }
  .plan_even_old {
    padding: 24px 0;
    background-color: $gray_desertStorm;
    text-align: center;
    border: 1px solid $gray_gainsboro;
    .month {
      font-size: $fontsize-s;
    }
    .plan_even {
      font-weight: 700;
      line-height: 58px;
      font-size: $fontsize-xxl;
      color: $orange_bistre;
      span {
        font-size: $fontsize-l;
        font-weight: 700;
        line-height: 29px;
        color: $orange_bistre;
        margin-right: 4px;
      }
    }
  }
  .plan_items {
    border: 1px solid $gray_gainsboro;
    border-top: none;
    .plan_item {
      text-align: center;
      background: $white;
      border-bottom: 1px solid $gray_gainsboro;
      &:nth-of-type(4) {
        border-bottom: none;
      }
      .plan_item_text {
        font-size: $fontsize-s;
        text-align: center;
        font-weight: 400;
        line-height: 20px;
        padding: 20px;
        margin-bottom: 0;
      }
    }
    @media screen and (max-width: $breakpoint-md) {
      margin-bottom: 24px;
    }
  }
}
