<div class="top container">
  <div class="ima">
    <p class="cafe">
      そうだ。<br />
      カフェに行こう。
    </p>
    <img src="../../../img/top.jpg" class="assets" alt="..." />
  </div>
  <div class="top-content">
    <div class="message">
      <p class="text">カフェで読書＆コワーキング。快適フロアスペース空間。</p>
      <p class="texs">
        カフェテリアでコーヒーを注文し、ブックエリアでお好みの本を選び、コワーキングスペースでコーヒーと共に読書を楽しむ。<br />
        学校・仕事帰りに、平日の日中に、休日にゆっくり...さまざまなライフスタイルに合わせてご利用いただける多彩なプランをご用意しております。
      </p>
    </div>
  </div>
</div>
