@use "../../variables" as *;

.top {
  & > .top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px 30px;
    position: absolute;
    width: 992px;
    height: 994px;
    left: 24px;
    top: 683px;
  }
  .ima {
    width: 992px;
    height: 700px;
  }
  .lia {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    position: absolute;
    width: 82px;
    height: 288px;
    left: 455px;
    top: 206px;
  }
  .cafe {
    width: 36px;
    height: 288px;
    font-family: "Noto Serif JP";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    display: flex;
    align-items: center;
    font-feature-settings: "vert" on;
    color: #ffffff;
  }
  .visu {
    width: 36px;
    height: 144px;
    font-family: "Noto Serif JP";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    display: flex;
    align-items: center;
    font-feature-settings: "vert" on;
    color: #ffffff;
  }
  .assets {
    position: absolute;
    width: 992px;
    height: 700px;
    left: 0px;
    top: 0px;
    background: url(../../../img/top.jpg);
  }
  .tops {
    width: 992px;
    height: 294px;
    background: #000000;
  }
  .message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 52px 20px;
    position: absolute;
    width: 960px;
    height: 294px;
    left: 16px;
    top: 0px;
  }
  .wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 10px;
    width: 920px;
    height: 118px;
  }
  .text {
    font-family: "Noto Serif JP";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 54px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
  }
  .old {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    width: 920px;
    height: 72px;
  }
  .texs {
    font-family: "Noto Sans JP";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
  }
}
