@use "../../variables" as *;

.container-fluid {
  display: flex;
  background-color: $black;
  justify-content: space-between;
  .logo {
    margin: auto 0;
    margin-left: 30px;
  }
  .main-logo {
    width: 120px;
    height: 21px;
  }
  .concept-wide {
    display: flex;
  }
  .Toggle {
    text-decoration: none;
    color: $white;
  }
  .plus-button {
    background-color: $black;
    border: 1px solid $black;
    box-shadow: none;
    display: block;
    margin-left: auto;
    margin-right: 0;
    line-height: 1.5;
    .minus {
      display: none;
    }
    &[aria-expanded="true"] {
      .plus {
        display: none;
      }
      .minus {
        display: block;
      }
    }
  }
  .navbar-collapse {
    background-color: $black;
    .nav-item {
      padding: 0;
      .nav-link {
        color: $white;
      }
      .dropdown-item {
        color: $white;
        background-color: $black;
      }
    }
    .dropdown-menu {
      @media (max-width: $breakpoint-xl) {
        height: 60px;
        background-color: $black;
        a {
          color: $white;
          margin: auto 0;
        }
      }
    }
  }
}
