<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a href="#" class="logo">
      <img src="../../../img/header.png" alt="" class="main-logo" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <img src="../../../img/humberger-bar.svg" class="top-navbar" />
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <div class="concept-wide">
            <a
              class="Toggle"
              data-bs-toggle="collapse"
              href="#collapseExample"
              role="button"
              aria-expanded="false"
              aria-controls="collapseExample"
              >CONCEPT</a
            >
            <button
              class="plus-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseExample"
              aria-expanded="false"
              aria-controls="collapseExample"
            >
              <img src="../../../img/plus.svg" class="plus" />
              <img src="../../../img/minus.svg" class="minus" />
            </button>
          </div>
          <ul class="collapse" id="collapseExample">
            <li class="nav-item">
              <a class="dropdown-item" href="#">ブログアーカイブ</a>
            </li>
            <li class="nav-item">
              <a class="dropdown-item" href="#">お知らせアーカイブ</a>
            </li>
            <li><a class="dropdown-item" href="#">イベントアーカイブ</a></li>
            <li class="nav-item">
              <a class="dropdown-item" href="#">インタビューアーカイブ</a>
            </li>
            <li class="nav-item">
              <a class="dropdown-item" href="#">FAQページ</a>
            </li>
            <li class="nav-item">
              <a class="dropdown-item" href="#">固定ページ（デフォルト）</a>
            </li>
            <li class="nav-item">
              <a class="dropdown-item" href="#">CONCEPT</a>
            </li>
            <li class="nav-item">
              <a class="dropdown-item" href="#">SERVICE</a>
            </li>
            <li class="nav-item">
              <a class="dropdown-item" href="#">FLOOR</a>
            </li>
            <li class="nav-item">
              <a class="dropdown-item" href="#">ACCESS</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">SERVICE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">FLOOR</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">INTERVIEW</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">BLOG</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ACCESS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">DOWNLOAD</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
