@use "../../variables" as *;

.container-fluid {
  display: flex;
  background-color: $black;
  justify-content: space-between;
  .navbar-toggler {
    background-color: transparent;
  }
  .logo {
    margin: auto 0;
    margin-left: 30px;
  }
  .main-logo {
    width: 120px;
    height: 21px;
  }
  .logo-plus {
    display: block;
    margin-left: auto;
    margin-right: 0;
    height: 26px;
    line-height: center;
    color: $white;
  }
  .minus-logo {
    display: none;
    @media (max-width: $breakpoint-lg) {
      margin-right: 16px;
      background-color: $black;
    }
  }
  .collapse {
    background-color: $black;
    .nav-item {
      padding: 0;
      .nav-link {
        color: $white;
      }
    }
    .dropdown-menu {
      @media (max-width: $breakpoint-xl) {
        height: 60px;
        background-color: $black;
        a {
          color: $white;
          margin: auto 0;
        }
      }
    }
  }
}
