<div class="news">
  <div class="news-and-events-title">
    <h2>News<span class="caption">お知らせ</span></h2>
  </div>
  <div class="list">
    <a href="#" class="text-decoration-none">
      <div class="news-line">
        <p class="news-event">2018.06.20</p>
        <p class="news-text">
          ブックカフェ・コワーキング系サイト向けテーマ「Switch」をリリースしました。
        </p>
      </div>
    </a>
    <a href="#" class="text-decoration-none">
      <div class="news-line">
        <p class="news-event">2018.06.18</p>
        <p class="news-text">
          3種のレイアウトから選択できるテンプレートを固定ぺージに実装
        </p>
      </div>
    </a>
    <a href="#" class="text-decoration-none">
      <div class="news-line">
        <p class="news-event">2018.06.12</p>
        <p class="news-text">
          利用者からのご質問をまとめた「FAQ」ページをアップしました。
        </p>
      </div>
    </a>
    <a href="#" class="text-decoration-none">
      <div class="news-line">
        <p class="news-event">2018.06.08</p>
        <p class="news-text">
          デモ用のサンプルデータを表示する「インポート機能」でサイト構築を快適に？
        </p>
      </div>
    </a>
    <a href="#" class="text-decoration-none">
      <div class="news-line">
        <p class="news-event">2018.06.02</p>
        <p class="news-text">テーマのアップデート情報について</p>
      </div>
    </a>
  </div>
  <div class="text-news">
    <a href="#" class="news-and-events-more"
      >お知らせ一覧<i class="fas fa-chevron-right"></i
    ></a>
  </div>
</div>
