@use "../../variables" as *;
@use "../../molecules/news-and-events-more/news-and-events-more" as *;
@use "../../molecules/news-and-events-title/news-and-events-title.scss" as *;

.list {
  border: 1px solid $gray_gainsboro;
  a {
    &:last-of-type {
      .news-line {
        border-bottom: 0;
      }
    }
    .news-line {
      background-color: $white;
      border-bottom: 1px solid $gray_gainsboro;
      padding: 20px;
      height: 85px;
      .news-event {
        color: $gray_nobel;
        font-size: $fontsize-xs;
        margin-bottom: 10px;
      }
    }
    .news-text {
      color: $black;
      font-size: 16px;
      font-weight: 400;
      line-height: 23px;
      transition: 0.2s ease;
      overflow: hidden;
      text-decoration: none;
      white-space: nowrap;
    }
  }
}
